# Example .gitignore file
# Add patterns for files or directories to ignore in your repository

# Ignore Python bytecode files
*.pyc

# Ignore IDE-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml

# Ignore dependencies
/node_modules/
/yarn-error.log
npm-debug.log
